Python==2.7.12
	# Lenguaje de programación
Django==1.11.4
	# Framework web.
olefile==0.44
	# Dependencia de Pillow
Pillow==4.2.1
	# Libreria de utilidades para manejar ImageFields en Django.
psycopg2==2.7.1
	# Libreria API para DB PostgreSQL, necesaria para trabajar desde python.
pytz==2017.2
	# Definiciones de Usos Horarios mundiales para Python.
selenium==3.5.0
	# Aplicación para usar Webdriver y realizar tests funcionales en Firefox.
