{% extends 'core_app/base.html' %}
{% load staticfiles %}

{% block title %}Administrar correo eléctrónico{% endblock %}

{% block content %}
<div class="w3-container w3-light-grey padding96-16" id="home">
    <div class="w3-row-padding">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <h2 class="w3-center">Cambiar Correo Electrónico</h2>
        <div class="w3-col m3 hidden-column"></div>
        <div class="w3-col s12 m6">
            <div class="w3-container w3-card-4 w3-padding-16 w3-white">
                <form method="POST">
                    {% csrf_token %} 
                <fieldset> 
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}<br>
                        {% if field.errors %}
                            <div class="form-errors">
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                            </div>
                        {% endif %}
                        {{ field }}
                    </div>
                {% endfor %}
                </fieldset>   
                {% if form.non_field_errors %}
                    <ul class='form-errors'>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                    <br>
                    <p class="w3-center">
                        <button type= "submit" class="w3-button w3-block w3-black"><i class="fa fa-envelope w3-large"> </i> Cambiar correo</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}