{% autoescape off %}
<br>
<h3>Saludos desde Rocket Labs!</h3>
<br>
Hemos recibido tu solicitud para desbloquear tu cuenta en nuestra página.<br>
<br>
<br>
Debes hacer click en el siguiente link para poder desbloquear tu cuenta:<br>
<strong>Link:</strong> <a href="{{link}}">{{ link }}</a><br>
<br>
<br>
<br>
<strong>*Importante:</strong> En caso de que no puedas hacer click, copia y pega la dirección en tu navegador.<br>
<br>
<br>
Sinceramente,<br>
El equipo de Rocket Labs.<br>
{% endautoescape %}