{% load staticfiles %}
/*
Pagina de estilos personalizada para app_RocketLabs

Colaboradores:
- Osvani Colina
- Rafael Vasquez
- Rabindranath Ferreira
*/

body,h1,h2,h3,h4,h5,h6 {
	font-family: "Raleway", sans-serif;
}

body, html {
    height: 100%;
    line-height: 1.8;
}

/* Full height image header */
.bgimg-1{
	background-image: url("../img/mac.jpg");
	min-height: 100%;
    background-position: center;
    background-size: cover;
}

/* Empleamos estas reglas para lograr efecto parallax */
.parallax{
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.w3-bar .w3-button{
    padding: 16px;
}

.fadeInOnScroll{
	opacity:0;
}

#padding24-48{
	padding: 24px 48px;
}

#padding48{
	padding: 48px;
}

.padding128-16{
	padding:  128px 16px;
}

#image700x394{
	width : 700px;
	height: 394px;
}

.margintop64{
	margin-top: 64px;
}

.widthOHP{
	width : 100%;
}

#widthNP{
	width: 90%;
}

#widthEFP{
	width: 85%;
}

#widthSFP{
	width: 75%;
}

