{% extends 'core_app/base.html' %}
{% load static %}

{% block title %}Proyectos Completados{% endblock %}

{% block content %}

<div class="w3-container padding128-16" id="home">
	<h3 class="w3-center">TODOS NUESTROS TRABAJOS</h3>
	<p class="w3-center w3-large">Proyectos realizados para clientes satisfechos</p>

	{% for group in project_list %}
		{% if forloop.first %}
		<div class="w3-row-padding margintop64">
		{% else %}
		<div class="w3-row-padding w3-section">
		{% endif %}

		{% for object in group %}
			<div class="w3-col l3 m6">
				{% with object.get_preview_screenshot as image %}
				<img src="{{ image.img.url }}" class="widthOHP" alt="{{ image.name }}">
				{% endwith %}
				<p class="w3-center">
					{{ object.title }}
					<br><a href="{% url 'projects_app:completed_project_details' object.id %}">Ver detalles</a>
				</p>
			</div>

		{% endfor %}

		</div>
	{% empty %}
	<br><br>
	<p class="w3-center w3-large">Lo sentimos, actualmente no tenemos proyectos disponibles.</p>

	{% endfor %}
</div>

{% endblock %}