{% extends 'core_app/base.html' %}
{% load staticfiles %}
  {% block content %}
	<h1> Registrarse </h1>

	
		<div class="container main-container">
			<div class="row login-form">
                <div class="col-md-10 col-md-offset-1">

                    <form method="post">

                        {% csrf_token %} 

                        <fieldset>
                            <legend>Datos de Cuenta</legend>
                            {% for field in registeruserform %}
                                <div class="form-group">
                                    {{ field.label_tag }}<br>

                                    {% if field.errors %}
                                        <div class="form-errors">
                                        {% for error in field.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                        </div>
                                    {% endif %}

                                    {{ field }}
                                </div>
                            {% endfor %}
                        </fieldset>
                        
                        {% if registeruserform.non_field_errors %}
                            <ul class='form-errors'>
                                {% for error in registeruserform.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% if registerperfilform.non_field_errors %}
                            <ul class='form-errors'>
                                {% for error in registerperfilform.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <p><button type= "submit" class="w3-button w3-black"><i class="fa fa-pencil"> </i> Registrar</button></p>
                            </div>
                        </div>
                        
                    </form>
                </div>
			</div>
		</div>
  {% endblock %}