{% extends 'core_app/base.html' %}
{% load static %}

{% block title %}Todo el equipo{% endblock %}

{% block content %}
<div class="w3-container padding128-16" id="home">
	<h3 class="w3-center" >EL EQUIPO</h3>
	<p class="w3-center w3-large">Todos nuestros integrantes.</p>	
	<div class="w3-row-padding w3-grayscale margintop64">
	{% for member in teammember %}

		<div class="w3-col l3 m6 w3-margin-bottom">
			<div class="w3-card-2">

			{% if member.profile.photo %}
				<img src="{{ member.profile.photo.url}}" alt="Avatar de {{ member.get_full_name }}" class="widthOHP">
			{% else %}
				<p>NO hay imágen disponible</p>
			{% endif %}
				<div class="w3-container">
					<h3>{{ member.get_full_name }}</h3>
					<p class="w3-opacity">{{ member.profile.title }}</p>
					<p class="w3-justify">{{ member.profile.bio }}</p>

					<form action="{% url 'core_app:details_team_member' member.id %}">
						<p><button type="submit "class="w3-button w3-light-grey w3-block"><i class="fa fa-info-circle"></i> Ver detalles completos</button></p>
					</form>
		
				</div>
			</div>
		</div>

	{% empty %}

		<br><br>
		<p class="w3-center w3-large">Lo sentimos, actualmente no tenemos integrantes disponibles.</p>

	{% endfor %}
	</div>
</div>


{% endblock %}