<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
{% if  email_for == "user"  %}
	<h3>Saludos desde Rocket Labs!</h3>
	<br>
	Hemos recibido tu solicitud de contacto, pronto alguno de nuestros administradores se pondrá en contacto contigo.<br>
	Te dejamos la información que nos has hecho llegar:<br>
{% else %}
	<h3>Saludos!</h3>
	<br>
	Hemos recibido una solicitud de contacto que contenia lo siguiente:<br>
{% endif %}
<div class="w3-panel w3-black w3-opacity-min">
    <p class="w3-large w3-serif">
    {% if email_for == "admin" %}
    	<strong>Correo:</strong> {{ mail }} <br>
    {% endif %}   
    <strong>Nombre:</strong> {{ name }} <br>
    <strong>Teléfono:</strong> {{ phone_number }} <br>
    <strong>Asunto:</strong> {{ subject }} <br>
    <strong>Mensaje:</strong><br>
    <i class="fa fa-quote-right w3-xxlarge xw3-margin-right"></i>{{ message}}
    </p>
</div>
<br>
<br>
Sinceramente,<br>
El mensajero de Rocket Labs.<br>
</body>	
</html>
